:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.FirstSection {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background: green;
  border-radius: 1rem;
  width: 100%;
}

.FirstSubSection {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}
.SecondSubSection {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}
.ThirdSubSection {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}
#table1 {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  background: greenyellow;
}
#table2 {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  background: greenyellow;
}

img {
  width: 4rem;
}
